<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Mailchimp>
			<version>0.1.0</version>
		</Cammino_Mailchimp>
	</modules>
	<global>
		<blocks>
			<mailchimp>
				<class>Cammino_Mailchimp_Block</class>
			</mailchimp>
		</blocks>
		
		<models>
			<mailchimp>
				<class>Cammino_Mailchimp_Model</class>
			</mailchimp>
		</models>

		<events>
			<newsletter_subscriber_save_commit_after>
				<observers>
					<subscriber_observer>
						<type>singleton</type>
						<class>Cammino_Mailchimp_Model_Observer_Subscriber</class>
						<method>sync</method>
					</subscriber_observer>
				</observers>
			</newsletter_subscriber_save_commit_after>
			<!-- <controller_action_predispatch_checkout_cart_add>
				<observers>
					<ecommerce_observerr>
						<class>Cammino_Mailchimp_Model_Observer_Ecommerce</class>
						<method>addMcCart</method>
					</ecommerce_observerr>
				</observers>
			</controller_action_predispatch_checkout_cart_add> -->
			<checkout_onepage_controller_success_action>
				<observers>
					<ecommerce_observer>
						<type>singleton</type>
						<class>Cammino_Mailchimp_Model_Observer_Ecommerce</class>
						<method>addMcOrder</method>
					</ecommerce_observer>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>

		
	</global>

	<frontend>
		<routers>
			<mailchimp>
				<use>standard</use>
				<args>
					<module>Cammino_Mailchimp</module>
					<frontName>mailchimp</frontName>
				</args>
			</mailchimp>
		</routers>
	</frontend>
</config>